{% extends  "base.html" %}

{% block title %} About {% endblock %}

{% block body %}



<!--main layout -->

    <main  class="mt-5">

    <div class="container">
        <div class="row md-4">
            <div class="col-md-7">
                <div class="view overlay hm-white-light z-depth-1-half">
                    <img src="static/img/n.jpg" class="img-fluid">
                    <div class="mask"></div>
                </div>
            </div>

            <div class="col-md-5">
                <h1>Software Developer</h1>
                <hr>
                <p>Life is like a computer without operating system & software , the owner of the computer is the one to choose what operating system & software that he/her will use.</p>

                <a href="https://web.facebook.com/wagole.musa" class="btn btn-primary">Get More</a>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4 col-md-6">
            <!-- cord image -->
            <div class="card card-cascade narrower">
                <div class="view overlay md-4">
                    <img src="static/img/p.jpg" class="img-fluid" alt="">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            <!-- card content -->
            <div class="card-body">
            <h5 class="pink-text"><i class="fa fa-cutley"></i>PyCharm</h5>
            <!-- Title-->
            <h4 class="card-title">Python</h4>
            <p class="card-text">One of the best (and only) full-featured, dedicated IDEs for Python is PyCharm. Available in both paid (Professional) and free open-source (Community) editions, PyCharm installs quickly and easily on Windows, Mac OS X, and Linux platforms.</p>
            </div>
        </div>
    </div>
            <div class="col-lg-4 col-md-6">

            <!--Card Narrower-->
<div class="card card-cascade narrower">

    <!--Card image-->
    <div class="view overlay md-4">
        <img src="static/img/r.png" class="img-fluid" alt="">
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-body">
        <h5 class="pink-text"><i class="fa fa-cutlery"></i> Culinary</h5>
        <!--Title-->
        <h4 class="card-title">Cheat day inspirations</h4>
        <!--Text-->
        <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.</p>
        <a class="btn btn-unique">Button</a>
    </div>
    <!--/.Card content-->

</div>
<!--/.Card Narrower-->

            </div>
            <div class="col-lg-4 col-md-6 ">
                <div class="card card-cascade  narrower">
                    <div class="view overlay md-4">
                        <img src="static/img/react.png" class="img-fluid" alt="">
                        <a>
                        <div class="mask rgba-white-slight"></div>
                    <div class="card-body">
                        <h5 class="pink-text"><i class="fa fa-cutlery"></i>React</h5>
                        <h4 class="card-title">React.js Framwark</h4>
                        <p class="card-text">Keeping up with the world of React can be a tough job. You need to have a reliable set of React blogs or content sources to stay up-to-date with all of the news, updates, and announcements in React.</p>

                        <a class="btn btn-unique">Button</a>
                        </div>

                </div>

            </div>
            <div class="col-lg-4 col-md-6">
            </div>
        </div>
    </div>
        
        
    </main>





{% endblock %}