

{% extends  "base.html" %}

{% block title %} Home {% endblock %}

{% block body %}


    <!-- mask -->


 <div id="musa" class="view rgba-black-strong">

    <div class="container-fluid full-bg-img d-flex align-items-center justify-content-center">

        <div class="row  d-flex justify-content-center">
            <div class="col-md-8 text-center">
                <div class="full-bg-img">

                <h2 class="display-1 font-bold white-text wb-2">Data Analysis</h2>
              <hr class="hr-light">

            <h4 class="white-text font-bold my-5">Data Science Central (DSC) is a thriving community of data scientists and data / big data experts and practitioners. It contains a large number of posts, questions, data sets, training material and more.</h4>


        <button type="button" class="btn btn-outline-white">Read more<i class="fa fa-book ml-2"></i></button>
            </div>
         </div>
    </div>
    </div>
</div>


</header>

<!--main layout -->

<main class="mt-5">
    <div class="container">
        <section id="best-features" class="text-center">
            <h2 class="md-4 font-weight-bold">Big Data</h2>
                <div class="row d-flex justify-content-center md-4">
                    <div class="col-md-8">
                        <p class="grey-text">Data Analytics: Data Analytics the science of examining raw data with the purpose of drawing conclusions about that information.

Data Analytics involves applying an algorithmic or mechanical process to derive insights. For example, running through a number of data sets to look for meaningful correlations between each other.</p>


                </div>
            </div>

<!-- Grid -->
<div class="row text-center">
    <div class="col-md-4 md-4">
        <i class="fa fa-camera-retro fa-4x orange-text"></i>
        <h4 class="my-4 text-center font-weight-bold">Experince</h4>
        <p class="grey-text">Big Data: Big Data refers to humongous volumes of data that cannot be processed effectively with the traditional applications that exist. The processing of Big Data begins with the raw data that isn’t aggregated and is most often impossible to store in the memory of a single computer.</p>
    </div>

    <div class="col-md-4 md-4">
        <i class="fa fa-database fa-4x orange-text"></i>
        <h4 class="my-4 font-weight-bold">Hapiness</h4>
        <p class="grey-text">A buzzword that is used to describe immense volumes of data, both unstructured and structured, Big Data inundates a business on a day-to-day basis. Big Data is something that can be used to analyze insights which can lead to better decisions and strategic business moves.</p>
    </div>

    <div class="col-md-4 md-4">
        <i class="fa fa-heart fa-4x orange-text"></i>
        <h4 class="my-4 font-weight-bold">Adventure</h4>
        <p class="grey-text">Digital Advertisements: The entire digital marketing spectrum uses the data science algorithms - from display banners to digital billboards. This is the mean reason for digital ads getting higher CTR than traditional advertisements.</p>

    </div>

 </div>
 <!-- Grid -->
</section>
<hr class="my-5">

<section id="exmpales" class="text-center">
    <div class="row">
        <div class="col-lg-4 col-md-12 md-4">
            <div class="view overlay hm-white-slight z-depth-1-half">
            <img src="static/img/p.jpg" class="img-fluid" alt="">
        <div class="mask"></div>
    </div>

    <h4 class="my-4 font-weight-bold">Python</h4>
    <p class="grey-text">This is a similar test runner to nosetest, which makes use of the same conventions, meaning that you can execute your tests in either of the two. A nice feature of pytest is that it captures your output from the test at the </p>
    </div>


    <div class="col-lg-4 col-md-12 md-4">
        <div class="view overlay hm-white-slight z-depth-1-half">
            <img src="static/img/r.png" class="img-fluid" alt="">
        <div class="mask"></div>
    </div>

    <h4 class="my-4 font-weight-bold">Ruby on Rails</h4>
        <p class="grey-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi.captures your output from the test at the </p>

    </div>


    <div class="col-lg-4 col-md-12 md-4">
        <div class="view overlay hm-white-slight z-depth-1-half">
            <img src="static/img/react.png" class="img-fluid" alt="">
        <div class="mask"></div>
    </div>

    <h4 class="my-4 font-weight-bold">React</h4>
        <p class="grey-text">One of the best (and only) full-featured, dedicated IDEs for Python is PyCharm. Available in both paid (Professional) and free open-source (Community) editions, PyCharm installs quickly and easily on Windows, Mac OS X, and Linux platforms.</p>
    </div>
</section>



<hr class="my-4">
    <section id="galley">
    <h2 class="md-5 my-5 font-weight-bold text-center">Big data infrastructure demands</h2>
    <div class="row">
        <div class="col-md-6">

        <!-- carousel Wrapper-->
    <div class="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
        <!--indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-t0="2"></li>
        </ol>
        <!-- end of indicator -->

        <!-- slide -->
        <div class="carousel-inner z-depth-1-half" role="listbox">

        <!--first slide -->
        <div class="carousel-item active">
            <img class="d-block w-100" src="static/img/nb.png" alt="first silde">

        </div>

        <!-- second slide -->
        <div class="carousel-item">
            <img class="d-block w-100" src="static/img/n.jpg" alt="second slide">
        </div>

        <!-- third slide -->
        <div class="carousel-item">
            <img class="d-block w-100" src="static/img/big.jpg" alt="third slide">
        </div>
    </div>


    <!-- control -->
     <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
    <!--/.controls-->

        </div>
    </div>

    <div class="col-md-6">
        <a href="#" class="teal-text">
        <h6 class="md-4"><i class="fa fa-heart fa-2x mr-2"></i><strong>Python pandas</strong></h6>
        </a>

        <h4 class="md-3 display-4"><strong>Big Data</strong></h4>
        <p>Big data is often characterized by 3Vs: the extreme volume of data, the wide variety of data types and the velocity at which the data must be processed</p>
        <p> Although big data doesn't equate to any specific volume of data, the term is often used to describe terabytes, petabytes and even exabytes of data captured over time.</p>

        <p>By <a href="#"><strong>Refuge wise</strong></a></p>
        <a class="btn btn-primary btn-md">Read More</a>
    </div>

</div>
    </section>
    </div>

    {% endblock %}